.container {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    width: 80%;
    margin-left: 35%;
    position: fixed;
    height: 100vh; /* Full viewport height */
    box-sizing: border-box;
  }
  
  .spline {
    height: 100%; /* Full container height */
  }
  
  @media(max-width:450px){
    .container{
      margin-left: 0;
      
    }
  }